---
---

@import '{{ site.theme }}';

header {
    background: #2e7bcf url(../images/header-backg.jpg) 0 0 repeat-x;
}

header {
    h2 {
        color: #ffffff;
    }
}

#main-content {
    width: 800px;
}

.inner {
    width: 1100px;
}
